<div style="padding: 1rem; display: flex; flex-direction: column">
  <div>
    <h2 style="margin-top: 0">Template Module</h2>
  </div>
  <div>
    <form class="form">
      <div class="form-group">
        <label>Name</label>
        <input
          class="form-control"
          placeholder="Please enter the template name"
          value="{{ data.name }}"
        />
      </div>
      <div class="form-group">
        <label>Campaign naming Convention</label>
        <select class="form-control">
          <option selected value="1">Test naming convention</option>
        </select>
      </div>
      <div class="form-group">
        <label>Ad group naming Convention</label>
        <select class="form-control">
          <option selected value="1">Test naming convention</option>
        </select>
      </div>
    </form>
  </div>
</div>
