/* Add application styles & imports to this file! */
@import '~@circlon/angular-tree-component/css/angular-tree-component.css';

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Roboto', sans-serif;
}
