<div style="padding: 1rem; display: flex; flex-direction: column">
  <div>
    <h2 style="margin-top: 0">Campaign Template Module</h2>
  </div>
  <div>
    <form class="form">
      <div class="form-group">
        <label>Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Please enter the campaign template name"
          value="{{ data.name }}"
        />
      </div>
      <div class="form-group">
        <label>Daily budget</label>
        <div style="display: flex">
          <select class="form-control" style="width: auto">
            <option>Integer</option>
          </select>
          <input
            type="number"
            style="margin-left: 1rem; flex-grow: 1;"
            class="form-control"
            placeholder="0.00"
            value="{{ data.dailyBudget }}"
          />
        </div>
      </div>
      <div class="form-group">
        <label>Bidding strategy</label>
        <select class="form-control">
          <option>Dynamic bids - Down only</option>
        </select>
      </div>
      <div class="form-group">
        <label>Portfolio</label>
        <select class="form-control">
          <option>Low budget</option>
        </select>
      </div>
      <div style="display: flex; flex-direction: row; width: 100%">
        <div class="form-group">
          <label>Start date (in days)</label>
          <input
            type="number"
            class="form-control"
            placeholder="0.00"
            value="1"
          />
        </div>
        <div class="form-group" style="margin-left: 1rem">
          <label>End date (in days)</label>
          <input
            type="number"
            class="form-control"
            placeholder="0.00"
            value="1"
          />
        </div>
      </div>
    </form>
  </div>
</div>
